.cover_sides {
    padding-left:0px;
    padding-right:0px;
}

.add_background_image {
    background-image:url('background1.png');
    background-size: cover;
    background-repeat:no-repeat;
    
}

.center_div {
    margin-left:auto;
    margin-right:auto;
}

.line1 {
    border-bottom:2px solid white;
}

.nav_text_color {
    color:white;
}

.position_logo {
    position:relative;
    bottom:-10px;
}

.nav_link a:hover {
    border-bottom: 3px solid white;
}

.nav_link h4 {
    color:white;
}

.vertical_center_div {
    margin-top:auto;
    margin-bottom:auto;
}

.input_group_height {
    height:80px;
    width:450px;
}

.shift_to_right {
    margin-left:0px;
}

.rounded_borders {
    border-radius:10px;
}

.empty_div {
    height:200px;
}

.text_underline1 {
    border-bottom: 3px solid #F4511E;
}

.position_top_div {
    position:relative;
    top:15%;
}

.position_bottom_div {
    position:relative;
    bottom:-28%;
}

.vector_position {
    position:relative;
    top:0px;
    left:-11px;
}

.vector_text_position {
    position:relative;
    left:-8%;
    top:15%;
}

.empty_div2 {
    height:40px;
}

.button_color {
    background-color:#F4511E;
    color:white;
}

.home_image_position {
    position:relative;
    top:1px;
    left:-11px;
}

.home_image_div_height {
    height:415px;
}

.price_color {
    color:#F4511E
}

.icon_right_margin {
    margin-right:25px;
}

.icon_left_margin {
    margin-left:25px;
}

.div_height_short1 {
    height:280px;
}

.div_height_short2 {
    height:310px;
}

.div_height_tall1 {
    height:345px;
}

.div_height_tall2 {
    height:380px;
}

.top_left_background {
    background-image:url('fl1.png');
    background-repeat:no-repeat;
    background-size:cover;
}

.top_right_background {
    background-image:url('fl2.png');
    background-repeat:no-repeat;
    background-size:cover;
}

.bottom_left_background {
    background-image:url('fl3.png');
    background-repeat:no-repeat;
    background-size:cover;
}

.bottom_right_background {
    background-image:url('fl4.png');
    background-repeat:no-repeat;
    background-size:cover;
}
