.cover_sides {
    padding-left:0px;
    padding-right:0px;
}

.add_background_image {
    background-image:url('background1.png');
    background-size: cover;
    background-repeat:no-repeat;
    
}

.center_div {
    margin-left:auto;
    margin-right:auto;
}

.line1 {
    border-bottom:2px solid white;
}

.nav_text_color {
    color:white;
}

.position_logo {
    position:relative;
    bottom:-10px;
}

.nav_link a:hover {
    border-bottom: 3px solid white;
}

.nav_link h4 {
    color:white;
}

.vertical_center_div {
    margin-top:auto;
    margin-bottom:auto;
}

.input_group_height {
    height:80px;
    width:450px;
}

.shift_to_right {
    margin-left:0px;
}

.rounded_borders {
    border-radius:10px;
}

.empty_div {
    height:200px;
}

.text_underline1 {
    border-bottom: 3px solid red;
}

.position_top_div {
    position:relative;
    top:0px;
}

.position_bottom_div {
    position:relative;
    bottom:-200px;
}

.vector_position {
    position:relative;
    top:-122px;
    left:-94px;
}

