.cover_sides {
    padding-left:0px;
    padding-right:0px;
}

.add_background_image {
    background-image:url('background1.png');
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
}

.background_height1 {
    height:1500px;
}

.center_div {
    margin-left:auto;
    margin-right:auto;
}

.line1 {
    border-bottom:2px solid white;
}

.nav_text_color {
    color:white;
}

.position_logo {
    position:relative;
    bottom:-10px;
}

.nav_link a:hover {
    border-bottom: 5px solid white;
}

.nav_link h4 {
    color:white;
}

.vertical_center_div {
    margin-top:auto;
    margin-bottom:auto;
}